# Environment Variables Template
# Copy this file to .env and replace the values

# Database Configuration
SA_PASSWORD=AbdellahSaysHello!X5e@JHT.V_@kiK
ADMIN_PASSWORD=AbdellahSaysHello!X5e@JHT.V_@kiK
